{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="card-title">Approval Pending</h5>
                </div>
                <div class="card-body">
                    <p>Your registration is pending approval. Please wait for an administrator to review your account.</p>
                    <p>Once your account is approved, you will receive a call. For More info: +8801308912839</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
