{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="card-title">Money Sent Successfully</h5>
                </div>
                <div class="card-body">
                    <p>Your money transfer was successful.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
